@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Petrona&display=swap');

@font-face {
    font-family: witcher;
    src: url(Thewitcher-jnOj.ttf);
}

.w{
    font-family: 'Spectral SC', serif;
    font-weight: bold;
}

.wTitle{
    font-family: witcher;
    font-size: 25px;
    font-weight: bolder;
}

body{
    margin: 0;
}

.stitle{
    font-family: witcher;
    font-weight: bolder;
}

img{
    max-width: 100%;
    height: auto;
}

.text{
    font-family: 'Petrona', serif;
    font-size: medium;
}

.middle{
    background-color: white;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
    color: aliceblue;
}

dt{
    font-family: 'Spectral SC', serif;
}

dd{
    font-family: witcher;
}

footer{
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.container {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

nav{
    padding: 10px;
}
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

a {
    font-family: witcher;
    color: aliceblue;
}

@media screen and (min-width:38.000em) {
    .m{
        max-width: 70%;
        margin: 0 auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr
         1fr;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        color: aliceblue;
    }

}

@media screen and (min-width:37.5em) {
    .m{
        max-width: 70%;
        margin: 0 auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        color: aliceblue;
    }
}

@media screen and (min-width:48em) {
    .m{
        max-width: 70%;
        margin: 0 auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        color: aliceblue;
    }

}

@media screen and (min-width:60em) {
    .m{
        max-width: 70%;
        margin: 0 auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        color: aliceblue;
    }

}

@media screen and (min-width:80em){
    .m{
        max-width: 70%;
        margin: 0 auto;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        color: aliceblue;
    }
}

a:visited{color: aliceblue;}
a:hover{ color: aliceblue; }
a:active{ color: aliceblue; }